@import "./func/index";

// Tag
input,
textarea,
* {
  padding:0;
  margin:0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-perspective: 100%;
  border-radius: 0px;
}

input, textarea {
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button:before,
input[type='number']::-webkit-inner-spin-button:after,
input[type='number']::-webkit-inner-spin-button {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Hiragino Sans GB","Microsoft YaHei",simsun, Helvetica;
  color: #666;
  font-size: 12px;
  height: 100vh;
  background: $grey !important;
  position: relative;
}


.mask-hide {
  -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 0, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
}

.opacity-animation {
  animation: opacityFade 0.7s ease-in;
}

.table {
  @extend %table;
}

@keyframes opacityFade {
  @include opacityFade(0, 1);
}
