$blue: rgb(100, 179, 244);
$blue2: #60e5ff;

$green: rgb(194, 229, 156);

$pink: #ff3366;
$red: #ff5d5d;
$orange: #ffa24a;

$grey: #f0f2f5;
$grey2: #f4f4f4;

$black: #333;
$black2: #666;
$black3: #999;
$black4: #ccc;

%input {
  border: 1px solid $black4;
  border-radius: 3px;
  padding: 5px;
  width: 100%;

  &::-webkit-input-placeholder {
    color: $black3;
  }
}

%percenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

%active-opacity {
  transition: .2s;

  &:active,
  &:hover {
    opacity: .7;
  }
}

@mixin baseItem {
  .base-item {
    &.base-required {
      .item-title {
        display: flex;
        align-items: center;
        padding-left: 0;

        &:before {
          content: '';
          display: inline-block;
          margin-right: 5px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $red;
        }
      }
    }

    & + .base-item {
      margin-top: 15px;
    }

    > * {
      & + * {
        margin-top: 5px;
      }
    }
    

    .item-title {
      color: $black2;
      font-size: 12px;
      padding: 0 8px;
      text-transform: uppercase;
    }

    .item-children {

    }
  }
}

@mixin baseForm {
  .base-form {
    .item-input {
      padding: 6px 8px;
      width: 100%;
      color: $black;
      font-size: 12px;
      border: none;
      border-radius: 5px;
      background: rgba($blue, .1);
    }

    & + * {
      margin-top: 20px;
    }
  }
}

@mixin baseButton {
  .base-button {
    text-align: center;

    .button {
      display: inline-block;
      padding: 0 5px;
      color: $blue;
      cursor: pointer;
      border-bottom: 1px solid currentColor;

      @extend %active-opacity;
    }
  }
}

@mixin baseErrors {
  .base-errors {
    position: absolute;
    padding: 10px 15px;
    width: 100%;
    left: 0;
    top: calc(100% + 10px);
    color: $red;
    font-size: 12px;
    border-radius: 10px;
    background: lighten($red, 25);

    &:empty {
      display: none;
    }

    > * {
      word-break: break-all;
    }

    .errors-item {
      & + .errors-item {
        margin-top: 10px;
      }

      .item-title {

      }

      .item-message {
        .message-part {

        }
      }
    }
  }
}

@mixin appBase {
  .app-base {
    @include baseItem;

    @include baseForm;
    @include baseButton;
    @include baseErrors;
  }

}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  background: $grey;
}

.pages-app-render {
  display: flex;

  @extend %percenter;

  > * {
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(black, .05);

    & + * {
      margin-left: 10px;
    }
  }

  @include appBase;
}
