@import '~example-css/func/index';

.components-not-found-render {
  background: black;
  color: white;

  @extend %full;

  .text {
    @extend %percenter;

    text-align: center;

    &:before,
    &:after {
      line-height: 1.2;
      font-size: 26px;
      font-weight: bold;
      white-space: nowrap;
    }

    &:before {
      display: block;
    }

    &:after {
      color: rgba(white, .6);
      padding-bottom: 3px;
      border-bottom: 1px solid currentColor;
      font-size: 12px;
      display: inline-block;
    }
  }
}
